# List Comprehension in Python

**ComprehensionVariable = [expression for items in list]**

In [ ]:
# Get a List of all multiples of three between 1 and 30:

## Use an open for loop

myList = []
for i in range(1, 11):
  myList.append(i * 3)
print(myList)

## Using a List Comprehension

multiplesOf3 = [i*3 for i in range(1, 11)]
print(multiplesOf3)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]
[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

In [2]:
# Prints all odd numbers between 1 and 10:

## Using a List Comprehension

oddNumbers = [i for i in range(1, 11) if i % 2 != 0]
print(oddNumbers)

## Use an open for loop

myList = []
for i in range(1, 11):
  if i % 2 != 0:
    myList.append(i)
print(myList)

[1, 3, 5, 7, 9]
[1, 3, 5, 7, 9]

In [8]:
# A list comprehension also accepts nested if statements:

oddNumbers = [i for i in range(1, 11) if i%2!=0 if i<4]
print(oddNumbers)

[1, 3]

In [9]:
# It also takes a nested for loop:

someNums = [i*2 for i in range(1, 3) for _ in range(4)]
print(someNums)

[2, 2, 2, 2, 4, 4, 4, 4]

In [11]:
# You can also have a plain nested for loop in a list comprehension:

someNums = [i*2 for i in range(1, 3) for k in range(4)]
print(someNums)

[2, 2, 2, 2, 4, 4, 4, 4]

In [13]:
# You can manipulate strings with Python list comprehension

word = ["This is a python list comprehension tutorial."]
wordCounter = [i.count(' ') + 1 for i in word]
print(wordCounter)

[7]

In [14]:
# A list comprehension can also accept a function that performs a specific operation.

Numbers = [4, 7, 8, 15, 17, 10]

def multiplier(n):
  multiple = n*2
  return multiple

multipleEven = [multiplier(i) for i in Numbers if i%2==0]
print(multipleEven)

[8, 16, 20]

In [15]:
# Modify the comprehension above to generate even numbers from odd ones:

multipleEvenFromOdds = [multiplier(i) for i in Numbers if i%2!=0]
print(multipleEvenFromOdds)

[14, 30, 34]

### Dictionary and Set Comprehensions

In [18]:
# Dictionary comprehension

corr = {i: i*2 for i in range(10) if i%2!=0}
print(corr)

{1: 2, 3: 6, 5: 10, 7: 14, 9: 18}

In [19]:
# Set comprehension

numbers = {i**(2) for i in range(10) if i%4==0}
print(numbers)

{0, 16, 64}

In [23]:
# However, unlike list comprehension, set comprehension removes duplicates:

nums = {i for i in range(20) if i%2==1 for k in range(4) if k%2==1}
print(nums)

numl = [i for i in range(20) if i%2==1 for k in range(4) if k%2==1]
print(numl)

{1, 3, 5, 7, 9, 11, 13, 15, 17, 19}
[1, 1, 3, 3, 5, 5, 7, 7, 9, 9, 11, 11, 13, 13, 15, 15, 17, 17, 19, 19]